In [1]:
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt

### Features old

In [2]:
train_old = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/training_sets_withrealtom.csv')
val_old = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/validation_sets_withrealtom.csv')
test_old = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/test_sets_withrealtom.csv')

In [9]:
test_old.loc[test_old.time>='2016-04-01']

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
34307,34307,2016-04-01,0.0,20.0,0.000004,81.055560,-8.377182,5.273445,2.527817,2.160847,-171.625750,0.00000,0.0,0.0
34308,34308,2016-04-01,0.0,22.5,-0.000002,76.221700,-6.143539,4.284462,4.278809,2.030232,-145.830180,0.00000,0.0,0.0
34309,34309,2016-04-01,0.0,25.0,0.000018,75.465416,-1.724731,3.315552,3.811935,1.344738,-121.705734,0.00000,0.0,0.0
34310,34310,2016-04-01,0.0,27.5,-0.000009,72.850200,1.577347,1.549385,4.243774,2.951813,-123.376850,0.00000,0.0,0.0
34311,34311,2016-04-01,0.0,30.0,-0.000009,82.229460,1.983276,1.535709,5.736717,0.056183,-144.360550,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963984,137600,2022-12-31,-30.0,80.0,0.000011,13.485237,13.612839,-5.971649,5.094070,-1.689285,-278.462220,295.33667,0.0,0.0
963985,137601,2022-12-31,-30.0,82.5,0.000014,12.116096,12.431198,-6.154266,8.201492,0.429855,-267.250370,295.08472,0.0,0.0
963986,137602,2022-12-31,-30.0,85.0,0.000025,8.479378,15.138229,-5.186493,12.883133,2.463058,-266.361480,294.75952,0.0,0.0
963987,137603,2022-12-31,-30.0,87.5,0.000005,8.858284,19.495651,-4.598602,18.322586,3.715012,-263.540740,294.41772,0.0,0.0
963988,137604,2022-12-31,-30.0,90.0,0.000003,7.129768,22.185104,-3.670868,25.125320,4.077316,-261.371860,294.01343,0.0,0.0

### Features 00

In [4]:
train_00 = pd.read_csv("train_00.csv")
val_00 = pd.read_csv("val_00.csv")
test_00 = pd.read_csv("test_00.csv")

In [12]:
val_00

,Unnamed: 0.1,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
0,0,4268771,0.0,20.0,2011-01-01,0.000002,76.408195,-2.687973,-4.482773,6.843109,-6.379868,0.00000,47.199387,0.043182,0.008743
1,1,4268772,0.0,22.5,2011-01-01,0.000003,75.757805,-1.654770,-3.582382,7.731781,-5.641586,0.00000,46.525560,0.070663,0.004593
2,2,4268773,0.0,25.0,2011-01-01,0.000012,84.740230,-4.547348,-3.326523,8.057953,-5.209946,0.00000,47.965010,0.108261,0.049271
3,3,4268774,0.0,27.5,2011-01-01,0.000025,92.087880,-0.494614,-3.369492,8.069672,-3.645493,0.00000,45.463060,0.129089,0.148300
4,4,4268775,0.0,30.0,2011-01-01,0.000009,75.361320,3.792496,0.158829,7.374359,-0.114243,0.00000,32.777510,0.171585,0.023849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688397,688397,4957168,-30.0,80.0,2015-12-31,0.000002,71.795230,22.014069,1.478775,14.227615,2.448212,296.77563,32.430428,0.014999,0.000015
688398,688398,4957169,-30.0,82.5,2015-12-31,-0.000010,48.736637,19.953522,-1.312241,10.442459,-1.006867,296.44263,29.297613,0.044479,0.000000
688399,688399,4957170,-30.0,85.0,2015-12-31,0.000010,50.666325,19.609772,-0.289780,6.253006,-0.536163,295.73462,29.412848,0.079910,0.000092
688400,688400,4957171,-30.0,87.5,2015-12-31,0.000009,53.846012,21.910553,-0.211655,1.016678,-0.005890,295.24830,29.483160,0.129959,0.000183
688401,688401,4957172,-30.0,90.0,2015-12-31,0.000008,59.742496,25.213287,-2.089584,-3.871994,-0.468781,295.79712,28.578863,0.164413,0.000046

### Features v2

In [7]:
train_new = pd.read_csv("train_dailymeans.csv")
val_new = pd.read_csv("val_dailymeans.csv")
test_new = pd.read_csv("test_dailymeans.csv")

In [8]:
test_new

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore,p131089
0,0,2016-04-01,0.0,20.0,0.000004,81.055560,-8.377182,5.273445,2.527817,2.160847,0.00000,53.959347,0.066320,0.052278,2016,04-01,90,0.0,0.000000
1,1,2016-04-01,0.0,22.5,-0.000002,76.221700,-6.143539,4.284462,4.278809,2.030232,0.00000,53.494244,0.086551,0.236994,2016,04-01,90,0.0,0.000000
2,2,2016-04-01,0.0,25.0,0.000018,75.465416,-1.724731,3.315552,3.811935,1.344738,0.00000,53.025135,0.314800,0.518474,2016,04-01,90,0.0,0.000000
3,3,2016-04-01,0.0,27.5,-0.000009,72.850200,1.577347,1.549385,4.243774,2.951813,0.00000,48.393536,0.186379,0.423175,2016,04-01,90,0.0,0.000000
4,4,2016-04-01,0.0,30.0,-0.000009,82.229460,1.983276,1.535709,5.736717,0.056183,0.00000,41.883312,0.094952,0.209450,2016,04-01,90,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,929677,2022-12-31,-30.0,80.0,0.000008,14.955483,13.163338,-4.289364,4.153252,-2.868565,295.33643,24.162498,0.033585,0.001839,2022,12-31,364,0.0,0.003781
929678,929678,2022-12-31,-30.0,82.5,0.000023,10.061256,13.957420,-4.323608,7.508942,-0.484577,295.08510,23.452278,0.044212,0.001561,2022,12-31,364,0.0,0.002778
929679,929679,2022-12-31,-30.0,85.0,0.000009,8.901871,15.958916,-3.855770,11.119324,2.067028,294.75940,19.158775,0.035525,0.000474,2022,12-31,364,0.0,0.008333
929680,929680,2022-12-31,-30.0,87.5,-0.000002,8.630913,19.073456,-3.618012,14.113441,2.629562,294.41754,17.160767,0.043179,0.001137,2022,12-31,364,0.0,0.005556
929681,929681,2022-12-31,-30.0,90.0,-0.000001,7.353394,23.511047,-3.336189,17.292694,3.282059,294.01346,16.566147,0.060794,0.002468,2022,12-31,364,0.0,0.008333

### Check old

In [6]:
# check features with file nc

import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt


def open_file(path='', eng=None, backed=False, key='', multiple=False, multiple_value=0.0, lat=0, lon=0):
    if backed==True:
        ds = xr.open_dataset(path, engine=eng, backend_kwargs={'filter_by_keys': {'shortName': key}})
    else: ds = xr.open_dataset(path, engine=eng)
        
    gpi_bidim = ds.to_dataframe()

    # print and checks
    #print(gpi_bidim)
    #print(gpi_bidim.step.unique())
    #print(gpi_bidim.number.unique())
    #if 'isobaricInhPa' in gpi_bidim.columns: print(gpi_bidim.isobaricInhPa.unique())
    
    # reload and see number of data
    if backed==True:
        ds = xr.open_dataset(path, engine=eng, backend_kwargs={'filter_by_keys': {'shortName': key}})
    else: ds = xr.open_dataset(path, engine=eng)
    gpi_bidim = ds.to_dataframe()
    gpi_bidim = gpi_bidim.reset_index()
    if multiple is False: 
        gpi_bidim = gpi_bidim.loc[:,['time','latitude','longitude',key]]
    else: 
        gpi_bidim = gpi_bidim.loc[gpi_bidim.isobaricInhPa==multiple_value,['time','latitude','longitude',key]]

    res = gpi_bidim.groupby(['time']).count()
    #print(res)
    #print(res.loc[res[key]!=10512])
    
    # plot di un punto ogni giorno
    #plt.plot(gpi_bidim.loc[(gpi_bidim.latitude==lat) & (gpi_bidim.longitude==lon),key].reset_index(drop=True))
    
    # check 
    return gpi_bidim.loc[(gpi_bidim.latitude==lat) & (gpi_bidim.longitude==lon),:]

In [8]:
lats = test_old.latitude.unique()
lons = test_old.longitude.unique()

for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/20190101_20191231.grb", eng='cfgrib', backed=True, key='vo', lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-31']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2019-12-31') & (test_old.time>='2019-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['vo'].values-dummy_df_true['vo'].values)))
        if s > 10**(-9): print(s)

In [9]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/20190101_20191231.grb", eng='cfgrib', backed=True, key='r', lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-31']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2019-12-31') & (test_old.time>='2019-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['r'].values-dummy_df_true['r'].values)))
        if s > 10**(-3): print(s)

In [12]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/20190101_20191231.grb", eng='cfgrib', backed=True, key='u', multiple=True, multiple_value=850.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2019-12-31') & (test_old.time>='2019-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['u_850'].values-dummy_df_true['u'].values)))
        if s > 10**(-4): print(s)

In [13]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/20190101_20191231.grb", eng='cfgrib', backed=True, key='u', multiple=True, multiple_value=200.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2019-12-31') & (test_old.time>='2019-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['u_200'].values-dummy_df_true['u'].values)))
        if s > 10**(-3): print(s)

In [14]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/20190101_20191231.grb", eng='cfgrib', backed=True, key='v', multiple=True, multiple_value=850.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2019-12-31') & (test_old.time>='2019-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['v_850'].values-dummy_df_true['v'].values)))
        if s > 10**(-3): print(s)

In [15]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/20190101_20191231.grb", eng='cfgrib', backed=True, key='v', multiple=True, multiple_value=200.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2019-12-31') & (test_old.time>='2019-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['v_200'].values-dummy_df_true['v'].values)))
        if s > 10**(-3): print(s)

In [17]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/2d_sst_trop_20190101_20191231.grb", eng='cfgrib', backed=False, key='sst', multiple=False, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2019-12-31') & (test_old.time>='2019-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['sst'].values-dummy_df_true['sst'].values)))
        if s > 10**(-2): print(s)

In [18]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/an_20190101_20191231_25.grb", eng='cfgrib', backed=False, key='ttr', multiple=False, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2019-12-31') & (test_old.time>='2019-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['ttr'].values-dummy_df_true['ttr'].values)))
        if s > 10**(-2): print(s)

### 1990, train

In [19]:
lats = train_old.latitude.unique()
lons = train_old.longitude.unique()

for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/19900101_19901231.grb", eng='cfgrib', backed=True, key='vo', lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-31']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['vo'].values-dummy_df_true['vo'].values)))
        if s > 10**(-9): print(s)

In [20]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/19900101_19901231.grb", eng='cfgrib', backed=True, key='r', lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-31']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['r'].values-dummy_df_true['r'].values)))
        if s > 10**(-3): print(s)

In [21]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/19900101_19901231.grb", eng='cfgrib', backed=True, key='u', multiple=True, multiple_value=850.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['u_850'].values-dummy_df_true['u'].values)))
        if s > 10**(-4): print(s)

In [23]:
## deve sbagliare tipo tutto  -->OK
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/20190101_20191231.grb", eng='cfgrib', backed=True, key='u', multiple=True, multiple_value=200.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['u_200'].values-dummy_df_true['u'].values)))
        if s > 10**(-3): print(s)

2372.6418971655785
2327.7385123588438
2342.67301927704
2413.7762037141742
2652.293233028793
2666.6104553792998
3098.0401190919706
3521.816096939402
3849.1892368737203
4061.8398413104883
4250.651408023491
4394.909866490032
4342.78966787097
4162.668979415563
3919.573378208821
3637.6623975457273
3439.598238364723
3362.853246475972
3261.6249121947035
3141.5404617631916
3022.558097402428
2956.7780349430063
2941.596614592645
2837.2128829184353
2780.7990094574634
2772.1769876809735
2719.9211712231595
2600.868493905673
2530.0738837756962
2408.7181820420346
2433.3949741766296
2504.363852627386
2642.433390821402
2933.0865547882718
3034.081195631473
3386.4338621846514
3680.0765965083956
3977.9647406369395
4263.669435004444
4446.056657728436
4535.034731027369
4470.537399981161
4111.195793713043
3685.577184019878
3398.7658053296864
3227.9626114662065
3141.1229217588448
3060.22578792527
2925.921741697553
2854.8684370169094
2754.451479717199
2665.054469019506
2648.839029402808
2659.5292877093366
2702.9860713287408
2591.5402620137043
2485.9881163831774
2437.519016706778
2454.6057857734095
2488.596708896741
2587.535726168693
2843.378757040581
3122.9434999285168
3396.6973599524567
3653.9192365576814
3871.9379346349306
4030.0378192307912
4285.578690284196
4414.459372961181
4333.727605893453
4121.423589593661
3741.1257070988872
3368.2992949694244
3125.8021427182184
2922.670412527502
2852.702225784848
2859.6179619961945
2811.9816486006634
2715.4473846250366
2582.8356471364727
2553.85776015144
2559.4338905517116
2559.4798486970935
2542.2861371353038
2525.532562227026
2463.9790721071063
2452.284707298237
2538.245673618878
2596.1189168453525
2714.889773510623
2904.902074287049
3187.913395721909
3439.842849458901
3656.6992404386137
3814.4957388936555
3929.2180310603553
4063.445052350812
4086.5671652845435
4008.114489688124
3718.9639767296267
3381.527840271226
3014.7761165528027
2729.412924490874
2607.5654203544113
2550.2615863642
2616.540980441734
2691.8024970191564
2719.168874166442
2630.9976237696014
2568.257770270861
2673.8660185974213
2652.5420864225625
2587.0323506795007
2554.085292642223
2501.8411099911737
2464.4301701226714
2590.7048756795007
2700.7552470925307
2842.284067627416
3023.189310403991
3300.889723877544
3506.84263850611
3636.303500382243
3731.192886294199
3798.7868398122673
3872.7925628299195
3788.7253154105174
3655.949128073745
3373.3204091234015
3034.5754202504922
2790.964301115944
2534.5270772510335
2425.959628203081
2378.432909490972
2384.0563502199166
2488.1753630514645
2604.377467418093
2622.275224422669
2666.5652802894638
2779.6692313028852
2765.911417955802
2684.391731729807
2593.1184136998468
2600.996450450287
2568.493788834429
2697.7609798680523
2856.8447387134174
2990.586729689653
3095.2327168034058
3253.684058365918
3541.6400514990214
3730.4966730808333
3817.0950746241137
3754.657945029688
3732.824794180131
3615.594052976921
3276.710916164117
3051.120731338038
2830.2724602119188
2697.7415000103147
2607.297289493591
2559.5571522093965
2472.9027850047023
2452.992214926273
2530.345206265669
2671.761916949428
2736.6847200330913
2835.1433031248744
2930.685765750994
2908.9550309153974
2849.4255130913975
2794.6482376437907
2793.899640077848
2868.985188718217
3003.5992692625823
3065.361767580883
3153.2578581658663
3192.5685199519185
3252.61952583139
3414.1612479927403
3549.79717516002
3678.843788821352
3738.994463935004
3687.0513314343884
3497.977701232667
3199.5450690585512
3009.9714611982895
2911.3899469898956
2804.9834587691253
2721.787299680355
2716.002135587592
2657.5296586458508
2631.093883242243
2694.093720594287
2793.011016400193
2941.3575681771545
2980.0996561964885
3020.8576028359516
3055.6058197924217
3068.925898257581
3032.622413892601
3070.160949678514
3185.61580317624
3335.1819657573824
3334.9048720515393
3366.8138312275146
3386.705086489066
3452.7188802207966
3457.058647708441
3456.644591914224
3482.983959354944
3470.002239768177
3400.1190598013027
3286.1987682789195
3161.59950275283
3071.042729871569
3029.204169618782
3008.9763651532753
2953.4575660193013
2901.0629485755226
2879.2379471117342
2866.1828390648343
2944.9603735947994
3038.152321612494
3114.4284529769825
3230.7141993151477
3310.484681405228
3344.276091708573
3351.2615934545083
3305.8311015423196
3341.845891231085
3378.9878529531074
3895.9653469227737
3953.976451454413
3981.9839921884986
3920.9929426621406
3840.853549607892
3771.332264855687
3722.733848150961
3674.002816890416
3580.06581343321
3434.8031395463413
3292.0013454112445
3243.1523520463056
3239.1387799421627
3269.722502189819
3324.794048074107
3345.156872693512
3343.1028665976114
3297.256259913668
3331.191553770601
3307.945071940013
3293.81912318551
3339.237086143418
3420.0503381972053
3474.9107749051645
3592.40792372663
3716.510089582816
3748.958580191838
3794.611100815431
3852.073373658812
4619.544253141629
4685.637612154148
4789.261340669674
4827.50921533049
4780.520190696073
4717.128254579691
4701.403231249339
4663.091839758046
4455.979286859065
4215.479682374236
3905.1282658756254
3631.9112413415533
3596.0769793868153
3709.995905574491
3829.433271949199
3836.2100534675665
3780.709694198821
3731.2283772956553
3739.897112234389
3779.3675195715605
3773.8701812706995
3842.7464000408804
3864.9741243268395
3953.325462558985
4032.350079716813
4068.899790126831
4093.042062466562
4137.898057882402
4154.719381440849
5292.290861456688
5386.993518166804
5478.201354332738
5536.476989196248
5500.866849841466
5362.097933702026
5333.251506555856
5385.200769742754
5383.744099060198
5346.127732280934
5058.269277373972
4644.862749166875
4410.7086802733
4347.976618783672
4392.610907359669
4342.172145859862
4224.764833468027
4176.807185871584
4131.573437452707
4175.727857483669
4220.3643671117325
4312.302744428083
4471.306543181088
4661.771278373119
4849.644769759153
4862.461038310887
4841.947554831663
4799.182541299811
4719.144477052976
5473.4464540501995
5613.41281753928
5732.208251264384
5792.080666694457
5774.939748334793
5795.437833205431
5765.314628606798
5805.249956829042
5797.713613806759
5820.899373273611
5728.219832633363
5483.476316152887
5175.641079030773
5007.565722699353
4941.614296736166
4841.164803366993
4692.2136347906635
4554.483255189805
4506.081821123363
4610.674070022143
4734.163193513824
4928.88553850108
5067.728289371282
5134.278935511385
5177.581437519486
5306.200060047742
5432.019703800233
5508.199941666819
5495.837362387178
5482.373317856408
5494.666034948662
5545.905391042368
5665.7803243253575
5631.834989208426
5691.669864873228
5760.728244940921
5872.940555047245
5980.738078161426
6001.962771915286
5917.636106620624
5768.900237014846
5547.989740086463
5340.964300173052
5251.084217327054
5157.614239680801
5129.849226729867
5165.8483183082135
5227.628447173763
5243.53009310562
5198.277092871065
5232.745925316716
5303.65249842351
5396.469504321756
5520.481806209555
5585.149489828619
5617.886734898407
5766.524046630999
5992.268384978542

In [24]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/19900101_19901231.grb", eng='cfgrib', backed=True, key='u', multiple=True, multiple_value=200.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['u_200'].values-dummy_df_true['u'].values)))
        if s > 10**(-3): print(s)

In [25]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/19900101_19901231.grb", eng='cfgrib', backed=True, key='v', multiple=True, multiple_value=850.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['v_850'].values-dummy_df_true['v'].values)))
        if s > 10**(-3): print(s)

In [26]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/19900101_19901231.grb", eng='cfgrib', backed=True, key='v', multiple=True, multiple_value=200.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['v_200'].values-dummy_df_true['v'].values)))
        if s > 10**(-3): print(s)

In [27]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/2d_sst_trop_19900101_19901231.grb", eng='cfgrib', backed=False, key='sst', multiple=False, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['sst'].values-dummy_df_true['sst'].values)))
        if s > 10**(-2): print(s)

In [28]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Documents/TC_old/data/data_new_samples/an_19900101_19901231_25.grb", eng='cfgrib', backed=False, key='ttr', multiple=False, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['ttr'].values-dummy_df_true['ttr'].values)))
        if s > 10**(-2): print(s)

### target

In [35]:
lats = train_old.latitude.unique()
lons = train_old.longitude.unique()

for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Desktop/TC_target/2.5col_obs_1990_48_17.grb", eng='cfgrib', backed=False, key='p131089', lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-31']
        dummy_df = train_old.loc[(train_old.latitude==lat) & (train_old.longitude==lon) & (train_old.time<='1990-12-31') & (train_old.time>='1990-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['new_target'].values-dummy_df_true['p131089'].values)))
        if s > 10**(-9): print(s)

In [39]:
lats = val_old.latitude.unique()
lons = val_old.longitude.unique()

for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Desktop/TC_target/2.5col_obs_2013_48_17.grb", eng='cfgrib', backed=False, key='p131089', lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-31']
        dummy_df = val_old.loc[(val_old.latitude==lat) & (val_old.longitude==lon) & (val_old.time<='2013-12-31') & (val_old.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['new_target'].values-dummy_df_true['p131089'].values)))
        if s > 10**(-9): print(s)

In [40]:
lats = test_old.latitude.unique()
lons = test_old.longitude.unique()

for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path="/Users/paolo/Desktop/TC_target/2.5col_obs_2021_48_17.grb", eng='cfgrib', backed=False, key='p131089', lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-31']
        dummy_df = test_old.loc[(test_old.latitude==lat) & (test_old.longitude==lon) & (test_old.time<='2021-12-31') & (test_old.time>='2021-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['new_target'].values-dummy_df_true['p131089'].values)))
        if s > 10**(-9): print(s)

### Check 00

In [102]:
lats = test_00.latitude.unique()
lons = test_00.longitude.unique()

for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path='/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(2013)+'0101_'+str(2013)+'1231.grb', eng='cfgrib', backed=True, key='vo', lat=lat, lon=lon)
        dummy_df = val_00.loc[(val_00.latitude==lat) & (val_00.longitude==lon) & (val_00.time<='2013-12-31') & (val_00.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['vo'].values-dummy_df_true['vo'].values)))
        if s > 10**(-9): print(s)

In [103]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path='/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(2013)+'0101_'+str(2013)+'1231.grb', eng='cfgrib', backed=True, key='r', lat=lat, lon=lon)
        dummy_df = val_00.loc[(val_00.latitude==lat) & (val_00.longitude==lon) & (val_00.time<='2013-12-31') & (val_00.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['r'].values-dummy_df_true['r'].values)))
        if s > 10**(-3): print(s)

In [104]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path='/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(2013)+'0101_'+str(2013)+'1231.grb', eng='cfgrib', backed=True, key='u', multiple=True, multiple_value=850.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = val_00.loc[(val_00.latitude==lat) & (val_00.longitude==lon) & (val_00.time<='2013-12-31') & (val_00.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['u_850'].values-dummy_df_true['u'].values)))
        if s > 10**(-4): print(s)

In [105]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path='/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(2013)+'0101_'+str(2013)+'1231.grb', eng='cfgrib', backed=True, key='u', multiple=True, multiple_value=200.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = val_00.loc[(val_00.latitude==lat) & (val_00.longitude==lon) & (val_00.time<='2013-12-31') & (val_00.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['u_200'].values-dummy_df_true['u'].values)))
        if s > 10**(-3): print(s)

In [106]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path='/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(2013)+'0101_'+str(2013)+'1231.grb', eng='cfgrib', backed=True, key='v', multiple=True, multiple_value=850.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = val_00.loc[(val_00.latitude==lat) & (val_00.longitude==lon) & (val_00.time<='2013-12-31') & (val_00.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['v_850'].values-dummy_df_true['v'].values)))
        if s > 10**(-3): print(s)

In [107]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path='/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(2013)+'0101_'+str(2013)+'1231.grb', eng='cfgrib', backed=True, key='v', multiple=True, multiple_value=200.0, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = val_00.loc[(val_00.latitude==lat) & (val_00.longitude==lon) & (val_00.time<='2013-12-31') & (val_00.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['v_200'].values-dummy_df_true['v'].values)))
        if s > 10**(-3): print(s)

In [108]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path='/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(2013)+'0101_'+str(2013)+'1231.grb', eng='cfgrib', backed=True, key='sst', multiple=False, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = val_00.loc[(val_00.latitude==lat) & (val_00.longitude==lon) & (val_00.time<='2013-12-31') & (val_00.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['sst'].values-dummy_df_true['sst'].values)))
        if s > 10**(-2): print(s)

In [109]:
for lat in lats:
    for lon in lons:
        dummy_df_true = open_file(path='/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(2013)+'0101_'+str(2013)+'1231.grb', eng='cfgrib', backed=True, key='tcwv', multiple=False, lat=lat, lon=lon)
        #dummy_df_true = dummy_df_true.loc[dummy_df_true.time<='2019-12-01']
        dummy_df = val_00.loc[(val_00.latitude==lat) & (val_00.longitude==lon) & (val_00.time<='2013-12-31') & (val_00.time>='2013-01-01')].sort_values('time',axis=0, ascending=True)
        s = (sum(abs(dummy_df['tcwv'].values-dummy_df_true['tcwv'].values)))
        if s > 10**(-2): print(s)

### Check V2

In [159]:
test_old = test_old.loc[test_old.time>='2016-04-01'].reset_index()

In [ ]:
test_old[abs((test_old.vo.values-test_new.vo.values)) >= 1e-9]

In [163]:
test_old[test_old.time=='2020-01-01']

,index,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
516490,550797,0,2020-01-01,0.0,20.0,3.523426e-06,68.677420,-14.983932,-0.260345,8.131180,-3.652741,-241.66888,0.00000,0.0,0.0
516491,550798,1,2020-01-01,0.0,22.5,2.749730e-07,65.515310,-13.530807,-2.927338,6.998367,-1.299225,-254.00075,0.00000,0.0,0.0
516492,550799,2,2020-01-01,0.0,25.0,-8.128118e-07,74.204765,-14.646042,-1.881439,5.722977,-2.840241,-268.39484,0.00000,0.0,0.0
516493,550800,3,2020-01-01,0.0,27.5,1.349230e-05,75.788750,-13.358932,-1.146088,3.832352,0.046478,-280.97556,0.00000,0.0,0.0
516494,550801,4,2020-01-01,0.0,30.0,7.993774e-06,74.007500,-11.524948,-1.828705,4.930008,0.120697,-281.42590,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516862,551169,372,2020-01-01,-30.0,80.0,-1.976709e-05,29.044611,29.711380,-2.678314,14.441727,1.819916,-258.77704,295.27637,0.0,0.0
516863,551170,373,2020-01-01,-30.0,82.5,3.448920e-06,32.304380,33.258255,-1.566986,15.109695,1.741791,-257.32520,295.34863,0.0,0.0
516864,551171,374,2020-01-01,-30.0,85.0,2.241926e-06,29.872736,38.992630,-0.035736,19.777664,3.396088,-257.36667,295.98242,0.0,0.0
516865,551172,375,2020-01-01,-30.0,87.5,2.134522e-05,17.888361,44.102005,-0.756439,24.863602,3.689056,-255.67778,295.70800,0.0,0.0
516866,551173,376,2020-01-01,-30.0,90.0,6.414251e-06,37.734066,45.764114,0.439850,26.908524,6.478119,-261.42590,294.91602,0.0,0.0

In [164]:
test_new[test_new.time=='2020-01-01']

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore,p131089
516490,516490,2020-01-01,0.0,20.0,0.000005,68.094610,-11.646896,-0.630306,5.847778,-2.661224,0.00000,47.635468,0.097939,0.014511,2020,01-01,0,0.0,0.000000
516491,516491,2020-01-01,0.0,22.5,-0.000004,68.582270,-11.217972,-2.278763,5.713684,-1.786938,0.00000,45.799370,0.086761,0.016541,2020,01-01,0,0.0,0.000000
516492,516492,2020-01-01,0.0,25.0,0.000004,72.699540,-11.185829,-1.894073,7.020195,-2.442699,0.00000,43.733788,0.075995,0.009415,2020,01-01,0,0.0,0.000000
516493,516493,2020-01-01,0.0,27.5,0.000010,72.781975,-10.497276,-1.244636,6.475739,-0.915401,0.00000,36.980026,0.065560,0.000629,2020,01-01,0,0.0,0.000000
516494,516494,2020-01-01,0.0,30.0,0.000010,72.092190,-11.125908,-2.319061,6.243645,-0.896725,0.00000,25.813751,0.055505,0.000706,2020,01-01,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516862,516862,2020-01-01,-30.0,80.0,-0.000004,20.100767,23.119186,-4.943520,18.890083,-1.786617,295.27618,27.178009,0.036625,0.004936,2020,01-01,0,0.0,0.003781
516863,516863,2020-01-01,-30.0,82.5,0.000014,16.245367,23.143540,-4.364864,20.755226,-0.584713,295.34860,27.153412,0.062833,0.005537,2020,01-01,0,0.0,0.002778
516864,516864,2020-01-01,-30.0,85.0,0.000021,14.035444,26.516663,-3.359009,24.682648,1.809582,295.98242,24.787430,0.068640,0.004155,2020,01-01,0,0.0,0.009259
516865,516865,2020-01-01,-30.0,87.5,0.000029,11.586294,32.927124,-2.411182,27.150810,4.071705,295.70847,21.373215,0.055549,0.003371,2020,01-01,0,0.0,0.006481
516866,516866,2020-01-01,-30.0,90.0,0.000018,16.749159,38.596092,-1.075909,27.837173,6.650719,294.91595,20.011223,0.042020,0.001036,2020,01-01,0,0.0,0.008333

In [166]:
test_00[test_00.time=='2020-01-01']

,Unnamed: 0.1,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
516490,516490,5507970,0.0,20.0,2020-01-01,3.523426e-06,68.677420,-14.983932,-0.260345,8.131180,-3.652741,0.00000,46.458650,0.023956,0.014801
516491,516491,5507971,0.0,22.5,2020-01-01,2.749730e-07,65.515310,-13.530807,-2.927338,6.998367,-1.299225,0.00000,44.382477,0.022568,0.012375
516492,516492,5507972,0.0,25.0,2020-01-01,-8.128118e-07,74.204765,-14.646042,-1.881439,5.722977,-2.840241,0.00000,42.886383,0.045319,0.018600
516493,516493,5507973,0.0,27.5,2020-01-01,1.349230e-05,75.788750,-13.358932,-1.146088,3.832352,0.046478,0.00000,38.060210,0.053909,0.001251
516494,516494,5507974,0.0,30.0,2020-01-01,7.993774e-06,74.007500,-11.524948,-1.828705,4.930008,0.120697,0.00000,25.298492,0.021027,0.000031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516862,516862,5508342,-30.0,80.0,2020-01-01,-1.976709e-05,29.044611,29.711380,-2.678314,14.441727,1.819916,295.27637,24.624664,0.015793,0.011490
516863,516863,5508343,-30.0,82.5,2020-01-01,3.448920e-06,32.304380,33.258255,-1.566986,15.109695,1.741791,295.34863,26.610992,0.032043,0.011002
516864,516864,5508344,-30.0,85.0,2020-01-01,2.241926e-06,29.872736,38.992630,-0.035736,19.777664,3.396088,295.98242,27.109040,0.077103,0.006409
516865,516865,5508345,-30.0,87.5,2020-01-01,2.134522e-05,17.888361,44.102005,-0.756439,24.863602,3.689056,295.70800,22.663727,0.048996,0.002823
516866,516866,5508346,-30.0,90.0,2020-01-01,6.414251e-06,37.734066,45.764114,0.439850,26.908524,6.478119,294.91602,24.138336,0.031433,0.000687

In [165]:
test_old[abs((test_old.r.values-test_new.r.values)) >= 1e-9]

,index,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
516490,550797,0,2020-01-01,0.0,20.0,3.523426e-06,68.677420,-14.983932,-0.260345,8.131180,-3.652741,-241.66888,0.00000,0.0,0.0
516491,550798,1,2020-01-01,0.0,22.5,2.749730e-07,65.515310,-13.530807,-2.927338,6.998367,-1.299225,-254.00075,0.00000,0.0,0.0
516492,550799,2,2020-01-01,0.0,25.0,-8.128118e-07,74.204765,-14.646042,-1.881439,5.722977,-2.840241,-268.39484,0.00000,0.0,0.0
516493,550800,3,2020-01-01,0.0,27.5,1.349230e-05,75.788750,-13.358932,-1.146088,3.832352,0.046478,-280.97556,0.00000,0.0,0.0
516494,550801,4,2020-01-01,0.0,30.0,7.993774e-06,74.007500,-11.524948,-1.828705,4.930008,0.120697,-281.42590,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,963984,137600,2022-12-31,-30.0,80.0,1.055561e-05,13.485237,13.612839,-5.971649,5.094070,-1.689285,-278.46222,295.33667,0.0,0.0
929678,963985,137601,2022-12-31,-30.0,82.5,1.385622e-05,12.116096,12.431198,-6.154266,8.201492,0.429855,-267.25037,295.08472,0.0,0.0
929679,963986,137602,2022-12-31,-30.0,85.0,2.479367e-05,8.479378,15.138229,-5.186493,12.883133,2.463058,-266.36148,294.75952,0.0,0.0
929680,963987,137603,2022-12-31,-30.0,87.5,4.617497e-06,8.858284,19.495651,-4.598602,18.322586,3.715012,-263.54074,294.41772,0.0,0.0
929681,963988,137604,2022-12-31,-30.0,90.0,2.576038e-06,7.129768,22.185104,-3.670868,25.125320,4.077316,-261.37186,294.01343,0.0,0.0

In [167]:
test_old[abs((test_old.u_200.values-test_new.u_200.values)) >= 1e-9]

,index,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
516490,550797,0,2020-01-01,0.0,20.0,3.523426e-06,68.677420,-14.983932,-0.260345,8.131180,-3.652741,-241.66888,0.00000,0.0,0.0
516491,550798,1,2020-01-01,0.0,22.5,2.749730e-07,65.515310,-13.530807,-2.927338,6.998367,-1.299225,-254.00075,0.00000,0.0,0.0
516492,550799,2,2020-01-01,0.0,25.0,-8.128118e-07,74.204765,-14.646042,-1.881439,5.722977,-2.840241,-268.39484,0.00000,0.0,0.0
516493,550800,3,2020-01-01,0.0,27.5,1.349230e-05,75.788750,-13.358932,-1.146088,3.832352,0.046478,-280.97556,0.00000,0.0,0.0
516494,550801,4,2020-01-01,0.0,30.0,7.993774e-06,74.007500,-11.524948,-1.828705,4.930008,0.120697,-281.42590,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,963984,137600,2022-12-31,-30.0,80.0,1.055561e-05,13.485237,13.612839,-5.971649,5.094070,-1.689285,-278.46222,295.33667,0.0,0.0
929678,963985,137601,2022-12-31,-30.0,82.5,1.385622e-05,12.116096,12.431198,-6.154266,8.201492,0.429855,-267.25037,295.08472,0.0,0.0
929679,963986,137602,2022-12-31,-30.0,85.0,2.479367e-05,8.479378,15.138229,-5.186493,12.883133,2.463058,-266.36148,294.75952,0.0,0.0
929680,963987,137603,2022-12-31,-30.0,87.5,4.617497e-06,8.858284,19.495651,-4.598602,18.322586,3.715012,-263.54074,294.41772,0.0,0.0
929681,963988,137604,2022-12-31,-30.0,90.0,2.576038e-06,7.129768,22.185104,-3.670868,25.125320,4.077316,-261.37186,294.01343,0.0,0.0

In [168]:
test_old[abs((test_old.u_850.values-test_new.u_850.values)) >= 1e-9]

,index,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
516490,550797,0,2020-01-01,0.0,20.0,3.523426e-06,68.677420,-14.983932,-0.260345,8.131180,-3.652741,-241.66888,0.00000,0.0,0.0
516491,550798,1,2020-01-01,0.0,22.5,2.749730e-07,65.515310,-13.530807,-2.927338,6.998367,-1.299225,-254.00075,0.00000,0.0,0.0
516492,550799,2,2020-01-01,0.0,25.0,-8.128118e-07,74.204765,-14.646042,-1.881439,5.722977,-2.840241,-268.39484,0.00000,0.0,0.0
516493,550800,3,2020-01-01,0.0,27.5,1.349230e-05,75.788750,-13.358932,-1.146088,3.832352,0.046478,-280.97556,0.00000,0.0,0.0
516494,550801,4,2020-01-01,0.0,30.0,7.993774e-06,74.007500,-11.524948,-1.828705,4.930008,0.120697,-281.42590,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,963984,137600,2022-12-31,-30.0,80.0,1.055561e-05,13.485237,13.612839,-5.971649,5.094070,-1.689285,-278.46222,295.33667,0.0,0.0
929678,963985,137601,2022-12-31,-30.0,82.5,1.385622e-05,12.116096,12.431198,-6.154266,8.201492,0.429855,-267.25037,295.08472,0.0,0.0
929679,963986,137602,2022-12-31,-30.0,85.0,2.479367e-05,8.479378,15.138229,-5.186493,12.883133,2.463058,-266.36148,294.75952,0.0,0.0
929680,963987,137603,2022-12-31,-30.0,87.5,4.617497e-06,8.858284,19.495651,-4.598602,18.322586,3.715012,-263.54074,294.41772,0.0,0.0
929681,963988,137604,2022-12-31,-30.0,90.0,2.576038e-06,7.129768,22.185104,-3.670868,25.125320,4.077316,-261.37186,294.01343,0.0,0.0

In [169]:
test_old[abs((test_old.v_200.values-test_new.v_200.values)) >= 1e-9]

,index,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
516490,550797,0,2020-01-01,0.0,20.0,3.523426e-06,68.677420,-14.983932,-0.260345,8.131180,-3.652741,-241.66888,0.00000,0.0,0.0
516491,550798,1,2020-01-01,0.0,22.5,2.749730e-07,65.515310,-13.530807,-2.927338,6.998367,-1.299225,-254.00075,0.00000,0.0,0.0
516492,550799,2,2020-01-01,0.0,25.0,-8.128118e-07,74.204765,-14.646042,-1.881439,5.722977,-2.840241,-268.39484,0.00000,0.0,0.0
516493,550800,3,2020-01-01,0.0,27.5,1.349230e-05,75.788750,-13.358932,-1.146088,3.832352,0.046478,-280.97556,0.00000,0.0,0.0
516494,550801,4,2020-01-01,0.0,30.0,7.993774e-06,74.007500,-11.524948,-1.828705,4.930008,0.120697,-281.42590,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,963984,137600,2022-12-31,-30.0,80.0,1.055561e-05,13.485237,13.612839,-5.971649,5.094070,-1.689285,-278.46222,295.33667,0.0,0.0
929678,963985,137601,2022-12-31,-30.0,82.5,1.385622e-05,12.116096,12.431198,-6.154266,8.201492,0.429855,-267.25037,295.08472,0.0,0.0
929679,963986,137602,2022-12-31,-30.0,85.0,2.479367e-05,8.479378,15.138229,-5.186493,12.883133,2.463058,-266.36148,294.75952,0.0,0.0
929680,963987,137603,2022-12-31,-30.0,87.5,4.617497e-06,8.858284,19.495651,-4.598602,18.322586,3.715012,-263.54074,294.41772,0.0,0.0
929681,963988,137604,2022-12-31,-30.0,90.0,2.576038e-06,7.129768,22.185104,-3.670868,25.125320,4.077316,-261.37186,294.01343,0.0,0.0

In [170]:
test_old[abs((test_old.v_850.values-test_new.v_850.values)) >= 1e-9]

,index,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
516490,550797,0,2020-01-01,0.0,20.0,3.523426e-06,68.677420,-14.983932,-0.260345,8.131180,-3.652741,-241.66888,0.00000,0.0,0.0
516491,550798,1,2020-01-01,0.0,22.5,2.749730e-07,65.515310,-13.530807,-2.927338,6.998367,-1.299225,-254.00075,0.00000,0.0,0.0
516492,550799,2,2020-01-01,0.0,25.0,-8.128118e-07,74.204765,-14.646042,-1.881439,5.722977,-2.840241,-268.39484,0.00000,0.0,0.0
516493,550800,3,2020-01-01,0.0,27.5,1.349230e-05,75.788750,-13.358932,-1.146088,3.832352,0.046478,-280.97556,0.00000,0.0,0.0
516494,550801,4,2020-01-01,0.0,30.0,7.993774e-06,74.007500,-11.524948,-1.828705,4.930008,0.120697,-281.42590,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,963984,137600,2022-12-31,-30.0,80.0,1.055561e-05,13.485237,13.612839,-5.971649,5.094070,-1.689285,-278.46222,295.33667,0.0,0.0
929678,963985,137601,2022-12-31,-30.0,82.5,1.385622e-05,12.116096,12.431198,-6.154266,8.201492,0.429855,-267.25037,295.08472,0.0,0.0
929679,963986,137602,2022-12-31,-30.0,85.0,2.479367e-05,8.479378,15.138229,-5.186493,12.883133,2.463058,-266.36148,294.75952,0.0,0.0
929680,963987,137603,2022-12-31,-30.0,87.5,4.617497e-06,8.858284,19.495651,-4.598602,18.322586,3.715012,-263.54074,294.41772,0.0,0.0
929681,963988,137604,2022-12-31,-30.0,90.0,2.576038e-06,7.129768,22.185104,-3.670868,25.125320,4.077316,-261.37186,294.01343,0.0,0.0

In [171]:
test_old[abs((test_old.sst.values-test_new.sst.values)) >= 1e-3]

,index,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
516495,550802,5,2020-01-01,0.0,32.5,0.000017,75.737970,-8.583542,-2.083588,5.164383,-1.246490,-286.88965,300.09570,0.0,0.0
516524,550831,34,2020-01-01,-2.5,32.5,0.000004,69.523125,-13.136276,0.164459,6.193680,-1.941803,-281.59186,300.09082,0.0,0.0
516670,550977,180,2020-01-01,-15.0,35.0,-0.000071,92.622734,-7.605026,-1.256439,-0.142258,1.831635,-153.15334,301.04688,0.0,0.0
516872,551179,382,2020-01-02,0.0,32.5,0.000010,67.538800,-11.545853,-1.368439,6.646362,0.797241,-279.34150,300.34473,0.0,0.0
516901,551208,411,2020-01-02,-2.5,32.5,0.000006,66.431380,-19.172806,-1.080353,10.242065,-0.595337,-268.52075,300.30762,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928962,963269,136885,2022-12-30,-2.5,32.5,0.000019,85.213170,3.927216,1.781632,8.487823,2.655243,-234.45259,298.49610,0.0,0.0
929108,963415,137031,2022-12-30,-15.0,35.0,0.000008,91.230750,12.227997,-3.552353,3.745636,-4.354523,-173.44519,300.52930,0.0,0.0
929310,963617,137233,2022-12-31,0.0,32.5,0.000003,71.008675,-6.332474,-0.110321,10.625320,1.340988,-256.64890,298.52124,0.0,0.0
929339,963646,137262,2022-12-31,-2.5,32.5,-0.000004,73.112190,-6.678177,0.680695,10.560867,4.365402,-240.90962,298.82593,0.0,0.0
929485,963792,137408,2022-12-31,-15.0,35.0,-0.000009,83.061410,7.901901,-5.298798,9.023758,0.409348,-217.12889,300.63354,0.0,0.0

In [172]:
train_new

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore,p131089
0,0,1980-01-01,0.0,20.0,0.000007,80.761185,1.909660,-3.323872,1.687164,-1.823624,0.00000,45.009384,0.104688,0.023254,1980,01-01,0,0.0,0.000000
1,1,1980-01-01,0.0,22.5,0.000004,80.703650,1.165733,-2.844494,1.060593,-1.991425,0.00000,43.669964,0.104326,0.007427,1980,01-01,0,0.0,0.000000
2,2,1980-01-01,0.0,25.0,0.000007,78.231514,-1.311676,-2.125244,3.280617,-1.931789,0.00000,44.030956,0.097731,0.044125,1980,01-01,0,0.0,0.000000
3,3,1980-01-01,0.0,27.5,0.000010,79.631010,-3.777573,-1.122395,5.743889,-1.243538,0.00000,39.961853,0.096560,0.010863,1980,01-01,0,0.0,0.000000
4,4,1980-01-01,0.0,30.0,0.000010,71.573875,-5.734505,-1.362953,6.514030,-0.954163,0.00000,28.731860,0.073104,0.007928,1980,01-01,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4268766,4268766,2010-12-31,-30.0,80.0,0.000015,26.797535,25.075424,-3.653679,-1.221291,1.515594,296.89227,26.542997,0.030980,0.000126,2010,12-31,364,0.0,0.003781
4268767,4268767,2010-12-31,-30.0,82.5,-0.000006,27.766910,24.175919,-2.866638,-6.724304,0.861771,296.03314,23.791655,0.030671,0.000000,2010,12-31,364,0.0,0.002778
4268768,4268768,2010-12-31,-30.0,85.0,0.000010,29.111805,24.655510,-2.809170,-10.138817,0.051220,295.36078,23.877638,0.037318,0.000000,2010,12-31,364,0.0,0.008333
4268769,4268769,2010-12-31,-30.0,87.5,0.000006,27.833050,25.088104,-2.730087,-11.036507,0.666927,295.10638,22.520674,0.057125,0.000000,2010,12-31,364,0.0,0.005556
4268770,4268770,2010-12-31,-30.0,90.0,0.000007,15.843884,24.510345,-3.213837,-10.213325,-0.098499,294.44766,20.042494,0.044584,0.000000,2010,12-31,364,0.0,0.008333

In [173]:
val_new

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore,p131089
0,0,2011-01-01,0.0,20.0,0.000003,73.016390,-5.760780,-4.216808,6.860649,-4.352928,0.00000,45.908466,0.051140,0.010802,2011,01-01,0,0.0,0.000000
1,1,2011-01-01,0.0,22.5,0.000003,74.569660,-4.942451,-3.857407,6.459419,-3.991157,0.00000,45.768530,0.054900,0.014612,2011,01-01,0,0.0,0.000000
2,2,2011-01-01,0.0,25.0,0.000004,80.080090,-3.848740,-3.175144,6.303680,-3.446140,0.00000,47.055485,0.085401,0.041099,2011,01-01,0,0.0,0.000000
3,3,2011-01-01,0.0,27.5,0.000012,83.676704,0.330811,-2.526569,7.235268,-2.307594,0.00000,42.947980,0.091923,0.081013,2011,01-01,0,0.0,0.000000
4,4,2011-01-01,0.0,30.0,0.000011,76.225440,3.678749,-1.027561,7.020271,-0.077572,0.00000,32.404747,0.098393,0.042447,2011,01-01,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688397,688397,2015-12-31,-30.0,80.0,0.000014,70.662056,23.560066,1.655861,9.690376,3.621418,296.77530,33.177513,0.011262,0.000468,2015,12-31,364,0.0,0.003781
688398,688398,2015-12-31,-30.0,82.5,-0.000006,51.213654,22.381706,0.321705,9.860390,-0.099480,296.44290,30.789354,0.029158,0.000318,2015,12-31,364,0.0,0.002778
688399,688399,2015-12-31,-30.0,85.0,0.000009,46.678970,22.464828,0.851299,7.661758,-0.725330,295.73486,30.004541,0.039861,0.000132,2015,12-31,364,0.0,0.008333
688400,688400,2015-12-31,-30.0,87.5,0.000002,59.362090,22.364807,0.543045,5.595253,-1.542034,295.24792,31.301584,0.131010,0.001035,2015,12-31,364,0.0,0.005556
688401,688401,2015-12-31,-30.0,90.0,0.000014,65.915980,23.052147,0.048565,1.080147,-1.203087,295.79680,30.365824,0.148117,0.000147,2015,12-31,364,0.0,0.008333

In [20]:
train_new.loc[train_new.target_2daysBefore>0]

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore,p131089
6625,6625,1980-01-18,-17.5,52.5,-0.000091,78.416700,-2.683708,-0.667770,0.934036,4.526085,301.38710,60.529480,0.213598,0.167857,1980,01-18,17,7.5,0.058327
6626,6626,1980-01-18,-17.5,55.0,-0.000032,70.014366,-1.537483,-2.091950,1.182343,-2.741303,301.03380,56.103360,0.059728,0.043305,1980,01-18,17,59.5,0.058228
6627,6627,1980-01-18,-17.5,57.5,-0.000024,68.753730,-2.114433,-2.444115,-1.937118,-5.120289,301.09296,55.617302,0.071777,0.021217,1980,01-18,17,73.0,0.055549
6628,6628,1980-01-18,-17.5,60.0,-0.000013,67.582070,-1.337196,-2.664082,-2.094612,-6.351833,301.04788,55.396492,0.054721,0.020729,1980,01-18,17,11.0,0.061085
6654,6654,1980-01-18,-20.0,52.5,-0.000053,77.405820,-3.728691,-8.417828,-1.948296,3.517914,300.90650,59.374466,0.147358,0.097818,1980,01-18,17,40.0,0.060562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258851,4258851,2010-12-05,-20.0,87.5,-0.000003,37.393917,14.565491,-4.676166,-17.610023,3.217903,298.27510,30.809452,0.060984,0.000000,2010,12-05,338,21.5,0.007407
4258852,4258852,2010-12-05,-20.0,90.0,-0.000004,27.216518,12.899460,-1.969673,-14.016624,4.166927,297.93384,30.102943,0.040989,0.000000,2010,12-05,338,95.0,0.005556
4258881,4258881,2010-12-05,-22.5,90.0,-0.000007,14.600323,23.793442,-3.774338,-16.875038,6.211926,296.92728,24.024033,0.038870,0.000000,2010,12-05,338,19.5,0.002778
4259229,4259229,2010-12-06,-20.0,90.0,-0.000013,23.637020,14.341492,-0.995354,-16.551949,3.112961,297.97418,27.046420,0.021144,0.000000,2010,12-06,339,5.0,0.005556
4259258,4259258,2010-12-06,-22.5,90.0,-0.000006,10.582149,24.495079,-4.490490,-21.694267,3.954777,296.96927,20.794657,0.036746,0.000000,2010,12-06,339,13.0,0.002778

In [21]:
train_old.loc[train_old.new_target>0]

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,lsm,newlsm,new_target,Real_tom_target
5871,5871,1980-01-16,-17.5,52.5,-0.000014,60.351845,1.234871,-0.773159,-3.530334,7.336716,-250.01370,301.43362,0.0,0.0,7.5,66.5
5872,5872,1980-01-16,-17.5,55.0,-0.000026,50.415565,-2.621948,1.099010,-2.193008,3.714371,-272.56778,301.10532,0.0,100.0,59.5,62.0
5873,5873,1980-01-16,-17.5,57.5,-0.000026,75.459020,-4.373039,3.345387,-1.927475,-1.146687,-242.81370,301.10132,0.0,100.0,73.0,73.0
5874,5874,1980-01-16,-17.5,60.0,-0.000029,76.820854,-5.727272,3.181236,-3.412529,-5.426723,-234.93814,300.93990,0.0,0.0,11.0,11.0
5900,5900,1980-01-16,-20.0,52.5,-0.000022,54.792885,2.242195,-3.668610,-6.547958,8.608688,-271.35297,300.91660,0.0,0.0,40.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258097,126931,2010-12-03,-20.0,87.5,-0.000029,72.094850,20.389458,-2.584744,-9.844009,8.757473,-290.04535,297.76294,0.0,0.0,21.5,0.0
4258098,126932,2010-12-03,-20.0,90.0,-0.000077,82.071236,17.011322,-1.937389,-9.631927,6.997993,-275.78760,297.62292,0.0,0.0,95.0,5.0
4258127,126961,2010-12-03,-22.5,90.0,-0.000045,83.383080,24.577164,-10.730095,-13.831566,5.042275,-270.72687,296.62805,0.0,0.0,19.5,13.0
4258475,127309,2010-12-04,-20.0,90.0,-0.000025,53.181130,16.971146,3.005432,-12.496155,4.316814,-292.86185,297.85980,0.0,0.0,5.0,0.0
4258504,127338,2010-12-04,-22.5,90.0,-0.000022,71.567370,28.597565,-4.914021,-14.664146,7.599438,-284.16852,296.65450,0.0,0.0,13.0,0.0

In [23]:
test_old.loc[(test_old.new_target>0)&(test_old.time>='2016-04-01')]

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,Real_tom_target
37835,37835,2016-04-10,-10.0,67.5,-1.229448e-06,43.492560,-15.130363,-3.342533,-3.123184,5.102932,-279.74667,303.71722,0.5,37.5
37836,37836,2016-04-10,-10.0,70.0,-1.097978e-05,35.186287,-15.342072,-1.659203,-1.346993,4.560040,-254.22371,303.57874,26.0,34.5
37837,37837,2016-04-10,-10.0,72.5,-7.010953e-06,57.824930,-15.449158,0.961765,1.839096,4.170139,-219.21333,303.38254,29.0,29.0
37864,37864,2016-04-10,-12.5,67.5,-5.378824e-07,26.160736,-10.290733,-3.747700,-4.507698,4.349777,-270.30072,303.58118,36.5,100.0
37865,37865,2016-04-10,-12.5,70.0,-7.621435e-06,42.200592,-11.854469,-4.411175,-2.242477,4.941998,-225.71408,303.52155,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875219,48835,2022-05-10,-15.0,90.0,-1.729892e-04,85.751686,-3.433472,-0.347427,3.289764,15.221161,-218.25148,300.36206,99.0,0.0
875248,48864,2022-05-10,-17.5,90.0,-2.829894e-05,89.441140,-6.462769,-17.562271,-11.266876,7.505341,-188.34334,299.61010,76.5,2.0
875277,48893,2022-05-10,-20.0,90.0,-2.278551e-05,93.015360,7.871216,-12.716568,-19.546173,3.764130,-204.95963,298.59740,20.5,11.0
875625,49241,2022-05-11,-17.5,90.0,-2.972502e-05,30.569260,9.824951,-0.540741,-5.928375,11.865036,-283.30835,299.73242,2.0,0.0
875654,49270,2022-05-11,-20.0,90.0,7.483177e-06,77.352460,17.766357,-4.904022,-0.985016,17.704880,-288.76610,298.86328,11.0,0.0