In [1]:
#import libraries
import pandas as pd
print('pandas: %s' % pd.__version__)

import xarray as xr
print('xarray: %s' % xr.__version__)

pd.options.display.max_columns = None
pd.set_option('display.max_rows', 150)

import numpy as np
print('geopandas: %s' % np.__version__)


# tensorflow
import tensorflow as tf
print('tensorflow: %s' % tf.__version__)

# Tensorflow / Keras
from tensorflow import keras # for building Neural Networks
print('Tensorflow/Keras: %s' % keras.__version__) # print version
from keras.models import Sequential # for creating a linear stack of layers for our Neural Network
from keras import Input # for instantiating a keras tensor
from keras.layers import Dense # for creating regular densely-connected NN layer.

# Data manipulation
import pandas as pd # for data manipulation
print('pandas: %s' % pd.__version__) # print version
import numpy as np # for data manipulation
print('numpy: %s' % np.__version__) # print version

# Sklearn
import sklearn # for model evaluation
print('sklearn: %s' % sklearn.__version__) # print version
from sklearn.model_selection import train_test_split # for splitting the data into train and test samples
from sklearn.metrics import classification_report # for model evaluation metrics

# Visualization
import plotly 
import plotly.express as px
import plotly.graph_objects as go
print('plotly: %s' % plotly.__version__) # print version

# Other utilities
import sys
import os

# Assign main directory to a variable
main_dir=os.path.dirname(sys.path[0])
print(main_dir)

pandas: 1.3.5
xarray: 0.20.1
geopandas: 1.21.5
tensorflow: 2.0.0
Tensorflow/Keras: 2.2.4-tf
pandas: 1.3.5
numpy: 1.21.5

Using TensorFlow backend.

sklearn: 1.0.2
plotly: 5.6.0
/Users/3rfanian/P_main

In [53]:
def duration_year(y):
    y_s = (y*10000) + 101
    y_e = (y*10000) + 1231
    y_s2e =  str(y_s) +"_"+ str(y_e)
    return y_s2e

In [54]:
def data_frame_year(year_file):
    
    part1 = "tc_data/{}".format(duration_year(year_file))
    part2 = part1+".grb"
    paths = "{}".format(part2)
    
    ds_vo = xr.open_dataset(paths, engine='cfgrib',backend_kwargs={'filter_by_keys': {'shortName': 'vo'}})
    gpi_bidim_vo = ds_vo.to_dataframe()
    gpi_bidim_vo = gpi_bidim_vo.reset_index()
    gpi_bidim_vo = gpi_bidim_vo.loc[:,['time','latitude','longitude','vo']]
    
    ds_r = xr.open_dataset(paths, engine='cfgrib',backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
    gpi_bidim_r = ds_r.to_dataframe()
    gpi_bidim_r = gpi_bidim_r.reset_index()
    gpi_bidim_r = gpi_bidim_r.loc[:,['time','latitude','longitude','r']]
    
    ds_u200 = xr.open_dataset(paths, engine='cfgrib',backend_kwargs={'filter_by_keys': {'shortName': 'u'}})
    gpi_bidim_u200 = ds_u200.to_dataframe()
    gpi_bidim_u200 = gpi_bidim_u200.reset_index()
    gpi_bidim_u200 = gpi_bidim_u200.loc[gpi_bidim_u200.isobaricInhPa==200.0,['time','latitude','longitude','u']]
    gpi_bidim_u200.rename(columns = {'u':'u_200'}, inplace = True)
    
    ds_u850 = xr.open_dataset(paths, engine='cfgrib',backend_kwargs={'filter_by_keys': {'shortName': 'u'}})
    gpi_bidim_u850 = ds_u850.to_dataframe()
    gpi_bidim_u850 = gpi_bidim_u850.reset_index()
    gpi_bidim_u850 = gpi_bidim_u850.loc[gpi_bidim_u850.isobaricInhPa==850.0,['time','latitude','longitude','u']]
    gpi_bidim_u850.rename(columns = {'u':'u_850'}, inplace = True)

    ds_v200 = xr.open_dataset(paths, engine='cfgrib',backend_kwargs={'filter_by_keys': {'shortName': 'v'}})
    gpi_bidim_v200 = ds_v200.to_dataframe()
    gpi_bidim_v200 = gpi_bidim_v200.reset_index()
    gpi_bidim_v200 = gpi_bidim_v200.loc[gpi_bidim_v200.isobaricInhPa==200.0,['time','latitude','longitude','v']]
    gpi_bidim_v200.rename(columns = {'v':'v_200'}, inplace = True)

    ds_v850 = xr.open_dataset(paths, engine='cfgrib',backend_kwargs={'filter_by_keys': {'shortName': 'v'}})
    gpi_bidim_v850 = ds_v850.to_dataframe()
    gpi_bidim_v850 = gpi_bidim_v850.reset_index()
    gpi_bidim_v850 = gpi_bidim_v850.loc[gpi_bidim_v850.isobaricInhPa==850.0,['time','latitude','longitude','v']]
    gpi_bidim_v850.rename(columns = {'v':'v_850'}, inplace = True)
    
    part1_ttr = "tc_data/an_{}".format(duration_year(year_file))
    part2_ttr = part1_ttr+"_25"+".grb"
    paths_ttr = "{}".format(part2_ttr)
    ds_ttr = xr.open_dataset(paths_ttr, engine='cfgrib')
    gpi_bidim_ttr = ds_ttr.to_dataframe()
    gpi_bidim_ttr = gpi_bidim_ttr.reset_index()
    gpi_bidim_ttr = gpi_bidim_ttr.loc[:,['time','latitude','longitude','ttr']]
    
    part1_sst = "tc_data/2d_sst_trop_{}".format(duration_year(year_file))
    part2_sst = part1_sst+".grb"
    paths_sst = "{}".format(part2_sst)
    ds_sst = xr.open_dataset(paths_sst, engine='cfgrib')
    gpi_bidim_sst = ds_sst.to_dataframe()
    gpi_bidim_sst = gpi_bidim_sst.reset_index()
    gpi_bidim_sst['sst'] = gpi_bidim_sst['sst'].fillna(0)
    gpi_bidim_sst = gpi_bidim_sst.loc[:,['time','latitude','longitude','sst']]
    
    part1_target = "tc_data/tcact_sin_year/actmask_hist_300km_17ms_sin_"
    i2s = str(year_file)
    path_target = part1_target+i2s+".grb"
    ds_lsm = xr.open_dataset(path_target, engine='cfgrib')
    gpi_bidim_lsm = ds_lsm.to_dataframe()
    gpi_bidim_lsm = gpi_bidim_lsm.reset_index()
    gpi_bidim_lsm = gpi_bidim_lsm.loc[:,['time','latitude','longitude','lsm']]

    part1_newtarget = "actmask_hist_300km_17ms_2_2.5/actmask_hist_300km_17ms_2_"
    i2s = str(year_file)
    path_newtarget = part1_newtarget+i2s+"_2.5.grb"
    ds_newlsm = xr.open_dataset(path_newtarget, engine='cfgrib')
    gpi_bidim_newlsm = ds_newlsm.to_dataframe()
    gpi_bidim_newlsm = gpi_bidim_newlsm.reset_index()
    gpi_bidim_newlsm = gpi_bidim_newlsm.loc[:,['time','latitude','longitude','lsm']]
    gpi_bidim_newlsm = gpi_bidim_newlsm.rename(columns={'lsm': 'newlsm'})
   
    supermerge = gpi_bidim_vo.merge(gpi_bidim_r).merge(gpi_bidim_u200).merge(gpi_bidim_u850).merge(gpi_bidim_v200).merge(gpi_bidim_v850).merge(gpi_bidim_ttr).merge(gpi_bidim_sst).merge(gpi_bidim_lsm).merge(gpi_bidim_newlsm)
    return supermerge

In [55]:
def data_fram_years(year_start,year_end):
    fram_lists = list()
    for i in range(year_start,year_end+1):
        fram_lists.append(data_frame_year(i))
    result = pd.concat(fram_lists)
    return result

In [76]:
##### Step 1 - Select data for traning 1980-2010t, 2011-2015v, 2016-2020t
#traning_set = data_fram_years(1980,2010)
#traning_set["newlsm"] = traning_set["newlsm"].replace([100.0],1.0)
#validation_set = data_fram_years(2011,2015)
#validation_set["newlsm"] = validation_set["newlsm"].replace([100.0],1.0)
test_set = data_fram_years(2016,2020)
test_set["newlsm"] = test_set["newlsm"].replace([100.0],1.0)

Ignoring index file 'tc_data/tcact_sin_year/actmask_hist_300km_17ms_sin_2020.grb.923a8.idx' incompatible with GRIB file

In [63]:
traning_set

,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,lsm,newlsm
0,1980-01-01,0.0,20.0,0.000007,80.761185,1.909660,-3.323872,1.687164,-1.823624,-247.540741,0.000000,0.0,0.0
1,1980-01-01,0.0,22.5,0.000004,80.703651,1.165733,-2.844494,1.060593,-1.991425,-240.005920,0.000000,0.0,0.0
2,1980-01-01,0.0,25.0,0.000007,78.231514,-1.311676,-2.125244,3.280617,-1.931789,-223.768890,0.000000,0.0,0.0
3,1980-01-01,0.0,27.5,0.000010,79.631012,-3.777573,-1.122395,5.743889,-1.243538,-235.555557,0.000000,0.0,0.0
4,1980-01-01,0.0,30.0,0.000010,71.573875,-5.734505,-1.362953,6.514030,-0.954163,-254.032593,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137600,2010-12-31,-30.0,80.0,0.000015,26.797535,25.075424,-3.653679,-1.221291,1.515594,-273.342041,296.892273,0.0,0.0
137601,2010-12-31,-30.0,82.5,-0.000006,27.766911,24.175919,-2.866638,-6.724304,0.861771,-280.370178,296.033142,0.0,0.0
137602,2010-12-31,-30.0,85.0,0.000010,29.111805,24.655510,-2.809170,-10.138817,0.051220,-281.051666,295.360779,0.0,0.0
137603,2010-12-31,-30.0,87.5,0.000006,27.833050,25.088104,-2.730087,-11.036507,0.666927,-280.056091,295.106384,0.0,0.0
137604,2010-12-31,-30.0,90.0,0.000007,15.843884,24.510345,-3.213837,-10.213326,-0.098499,-279.404266,294.447662,0.0,0.0

In [64]:
from numpy import * 

dff = traning_set["lsm"]
M = traning_set["lsm"].to_numpy()
# summarize dataset
classes = unique(M)
print(classes)
total = len(M)
for c in classes:
    n_examples = len(M[M==c])
    percent = n_examples / total * 100
    print('> Class=%d : %d/%d (%.1f%%)' % (c, n_examples, total, percent))

[0. 1.]
> Class=0 : 4260067/4268771 (99.8%)
> Class=1 : 8704/4268771 (0.2%)

In [65]:
from numpy import * 

dff = traning_set["newlsm"]
M = traning_set["newlsm"].to_numpy()
# summarize dataset
classes = unique(M)
print(classes)
total = len(M)
for c in classes:
    n_examples = len(M[M==c])
    percent = n_examples / total * 100
    print('> Class=%d : %d/%d (%.1f%%)' % (c, n_examples, total, percent))

[0. 1.]
> Class=0 : 4254174/4268771 (99.7%)
> Class=1 : 14597/4268771 (0.3%)

In [66]:
validation_set

,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,lsm,newlsm
0,2011-01-01,0.0,20.0,0.000003,73.016388,-5.760780,-4.216808,6.860649,-4.352928,-212.597412,0.000000,0.0,0.0
1,2011-01-01,0.0,22.5,0.000003,74.569656,-4.942451,-3.857407,6.459419,-3.991158,-198.235931,0.000000,0.0,0.0
2,2011-01-01,0.0,25.0,0.000004,80.080093,-3.848740,-3.175144,6.303680,-3.446140,-195.832962,0.000000,0.0,0.0
3,2011-01-01,0.0,27.5,0.000012,83.676704,0.330811,-2.526569,7.235268,-2.307594,-191.474442,0.000000,0.0,0.0
4,2011-01-01,0.0,30.0,0.000011,76.225441,3.678749,-1.027561,7.020271,-0.077572,-191.981110,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137600,2015-12-31,-30.0,80.0,0.000014,70.662056,23.560066,1.655861,9.690376,3.621418,-271.575562,296.775299,0.0,0.0
137601,2015-12-31,-30.0,82.5,-0.000006,51.213654,22.381706,0.321705,9.860390,-0.099480,-269.945923,296.442902,0.0,0.0
137602,2015-12-31,-30.0,85.0,0.000009,46.678970,22.464828,0.851299,7.661758,-0.725330,-270.188904,295.734863,0.0,0.0
137603,2015-12-31,-30.0,87.5,0.000002,59.362091,22.364807,0.543045,5.595253,-1.542034,-264.073334,295.247925,0.0,0.0
137604,2015-12-31,-30.0,90.0,0.000014,65.915977,23.052147,0.048565,1.080147,-1.203087,-259.794800,295.796814,0.0,0.0

In [67]:

dff = validation_set["lsm"]
M = validation_set["lsm"].to_numpy()
# summarize dataset
classes = unique(M)
print(classes)
total = len(M)
for c in classes:
    n_examples = len(M[M==c])
    percent = n_examples / total * 100
    print('> Class=%d : %d/%d (%.1f%%)' % (c, n_examples, total, percent))

[0. 1.]
> Class=0 : 687163/688402 (99.8%)
> Class=1 : 1239/688402 (0.2%)

In [68]:

dff = validation_set["newlsm"]
M = validation_set["newlsm"].to_numpy()
# summarize dataset
classes = unique(M)
print(classes)
total = len(M)
for c in classes:
    n_examples = len(M[M==c])
    percent = n_examples / total * 100
    print('> Class=%d : %d/%d (%.1f%%)' % (c, n_examples, total, percent))

[0. 1.]
> Class=0 : 686299/688402 (99.7%)
> Class=1 : 2103/688402 (0.3%)

In [77]:
test_set

,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,lsm,newlsm
0,2016-01-01,0.0,20.0,0.000011,80.796135,-2.052292,0.008678,4.996910,-1.678764,-272.049622,0.000000,0.0,0.0
1,2016-01-01,0.0,22.5,0.000011,77.748421,-4.445312,0.740505,7.517281,0.792618,-250.633331,0.000000,0.0,0.0
2,2016-01-01,0.0,25.0,-0.000001,71.178825,-3.778427,1.056324,9.333221,0.688251,-229.525192,0.000000,0.0,0.0
3,2016-01-01,0.0,27.5,-0.000005,73.585754,-4.695709,1.236446,9.589882,0.555519,-240.808151,0.000000,0.0,0.0
4,2016-01-01,0.0,30.0,-0.000016,72.382782,-4.002563,0.734211,5.410950,-1.086349,-262.455566,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126290,2019-12-01,-30.0,80.0,0.000006,2.637233,33.277840,5.379345,-0.286896,5.558327,-277.608704,294.149872,0.0,0.0
126291,2019-12-01,-30.0,82.5,-0.000020,23.660923,34.272537,6.438683,-13.026535,2.857349,-270.805725,294.237976,0.0,0.0
126292,2019-12-01,-30.0,85.0,-0.000019,46.051540,35.755882,7.248966,-18.870102,-3.349407,-249.430923,294.268890,0.0,0.0
126293,2019-12-01,-30.0,87.5,-0.000014,55.855648,34.069664,6.349327,-18.801796,-8.172478,-239.368698,294.366302,0.0,0.0
126294,2019-12-01,-30.0,90.0,0.000006,61.602299,29.167267,4.805676,-15.093590,-9.708778,-251.605743,293.749237,0.0,0.0

In [70]:

dff = test_set["lsm"]
M = test_set["lsm"].to_numpy()
# summarize dataset
classes = unique(M)
print(classes)
total = len(M)
for c in classes:
    n_examples = len(M[M==c])
    percent = n_examples / total * 100
    print('> Class=%d : %d/%d (%.1f%%)' % (c, n_examples, total, percent))

[0. 1.]
> Class=0 : 538438/539487 (99.8%)
> Class=1 : 1049/539487 (0.2%)

In [71]:
dff = test_set["newlsm"]
M = test_set["newlsm"].to_numpy()
# summarize dataset
classes = unique(M)
print(classes)
total = len(M)
for c in classes:
    n_examples = len(M[M==c])
    percent = n_examples / total * 100
    print('> Class=%d : %d/%d (%.1f%%)' % (c, n_examples, total, percent))

[0. 1.]
> Class=0 : 537732/539487 (99.7%)
> Class=1 : 1755/539487 (0.3%)

In [74]:
traning_set.to_csv('data_with_newtarget/traning_set_with_newtarget.csv')  
validation_set.to_csv('data_with_newtarget/validation_set_with_newtarget.csv')  
test_set.to_csv('data_with_newtarget/test_set_with_newtarget.csv')