In [2]:
import pandas as pd

In [3]:
data_path1 = "/home/b/b382633/TC_adds/csv_extracted/"
data_path2 = "/work/bk1318/b382633/data_csv/predictors_v2_dailymean/"

In [4]:
data_path1 = "/work/bk1318/b382633/csv_extracted_1/"
data_path2 = "/work/bk1318/b382633/data_csv/predictors_v2_dailymean_1/"

In [5]:
target_test = "target_test_dailymeans_Sindian.csv"
target_train = "target_train_dailymeans_Sindian.csv"
target_val = "target_val_dailymeans_Sindian.csv"
feature_test = "test_dailymeans_Sindian.csv"
feature_train = "train_dailymeans_Sindian.csv"
feature_val = "val_dailymeans_Sindian.csv"
current_file = feature_test

In [6]:
my_df = pd.read_csv(data_path1 + current_file)
my_df.shape

(5427666, 15)

In [8]:
my_df

,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
0,0,0.0,20.0,2016-04-01,0.000003,82.689590,-8.812576,5.084553,2.345459,1.971470,0.00000,54.418915,0.075203,0.042222,13.902161
1,1,0.0,21.0,2016-04-01,0.000011,87.146570,-8.011398,5.256611,3.138763,2.215855,0.00000,55.497444,0.078448,0.093240,13.300069
2,2,0.0,22.0,2016-04-01,-0.000001,78.225174,-6.580460,4.879414,4.114227,2.208469,0.00000,54.159424,0.051347,0.190273,11.617254
3,3,0.0,23.0,2016-04-01,-0.000003,71.998116,-5.942734,3.040512,4.309387,1.333908,0.00000,52.304413,0.102467,0.296958,9.463202
4,4,0.0,24.0,2016-04-01,0.000009,75.876660,-4.980728,2.609726,4.615143,-0.201687,0.00000,52.471832,0.295514,0.447555,8.989819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5427661,5427661,-30.0,86.0,2022-12-31,-0.000003,9.031833,16.882332,-3.579315,12.766792,2.521202,294.51056,17.570087,0.026339,0.000204,22.883425
5427662,5427662,-30.0,87.0,2022-12-31,-0.000011,8.893886,18.081985,-3.472538,13.955536,2.601090,294.43110,16.723050,0.026032,0.000406,24.362286
5427663,5427663,-30.0,88.0,2022-12-31,-0.000012,8.432330,19.658860,-3.230461,14.706093,2.636833,294.62433,16.259120,0.038844,0.001524,25.876398
5427664,5427664,-30.0,89.0,2022-12-31,-0.000004,7.901454,21.486374,-3.037853,15.900650,2.755791,294.43643,16.251629,0.049453,0.002759,27.824902
5427665,5427665,-30.0,90.0,2022-12-31,0.000001,7.244884,23.343560,-3.006729,17.414139,3.101067,294.01830,16.327389,0.054230,0.003089,29.986692

In [9]:
other_df = pd.read_csv(data_path2 + current_file)
other_df.shape

(5427666, 15)

In [10]:
other_df

,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
0,0,0.0,20.0,2016-04-01,0.000003,82.689590,-8.812576,5.084553,2.345459,1.971470,0.00000,54.418915,0.075203,0.042222,13.902161
1,1,0.0,21.0,2016-04-01,0.000011,87.146570,-8.011398,5.256611,3.138763,2.215855,0.00000,55.497444,0.078448,0.093240,13.300069
2,2,0.0,22.0,2016-04-01,-0.000001,78.225174,-6.580460,4.879414,4.114227,2.208469,0.00000,54.159424,0.051347,0.190273,11.617254
3,3,0.0,23.0,2016-04-01,-0.000003,71.998116,-5.942734,3.040512,4.309387,1.333908,0.00000,52.304413,0.102467,0.296958,9.463202
4,4,0.0,24.0,2016-04-01,0.000009,75.876660,-4.980728,2.609726,4.615143,-0.201687,0.00000,52.471832,0.295514,0.447555,8.989819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5427661,5427661,-30.0,86.0,2022-12-31,-0.000003,9.031833,16.882332,-3.579315,12.766792,2.521202,294.51056,17.570087,0.026339,0.000204,22.883425
5427662,5427662,-30.0,87.0,2022-12-31,-0.000011,8.893886,18.081985,-3.472538,13.955536,2.601090,294.43110,16.723050,0.026032,0.000406,24.362286
5427663,5427663,-30.0,88.0,2022-12-31,-0.000012,8.432330,19.658860,-3.230461,14.706093,2.636833,294.62433,16.259120,0.038844,0.001524,25.876398
5427664,5427664,-30.0,89.0,2022-12-31,-0.000004,7.901454,21.486374,-3.037853,15.900650,2.755791,294.43643,16.251629,0.049453,0.002759,27.824902
5427665,5427665,-30.0,90.0,2022-12-31,0.000001,7.244884,23.343560,-3.006729,17.414139,3.101067,294.01830,16.327389,0.054230,0.003089,29.986692

In [11]:
my_df.describe()

,Unnamed: 0,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
count,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06
mean,2.713832e+06,-1.500000e+01,5.500000e+01,1.634217e-07,4.513931e+01,7.656760e+00,-2.693753e+00,-1.856880e+00,9.688508e-01,2.177395e+02,3.455522e+01,5.448247e-02,1.543436e-02,2.014515e+01
std,1.566832e+06,8.944273e+00,2.049390e+01,1.827597e-05,2.648397e+01,1.797740e+01,4.993485e+00,8.486632e+00,3.790943e+00,1.334686e+02,1.360599e+01,5.293838e-02,4.103308e-02,1.250020e+01
min,0.000000e+00,-3.000000e+01,2.000000e+01,-8.602099e-04,5.407220e-02,-4.024438e+01,-3.566544e+01,-5.705151e+01,-3.047674e+01,0.000000e+00,1.296146e+00,0.000000e+00,0.000000e+00,5.425921e-03
25%,1.356916e+06,-2.300000e+01,3.700000e+01,-9.497104e-06,2.076227e+01,-6.081226e+00,-6.215152e+00,-6.928488e+00,-1.222572e+00,0.000000e+00,2.362201e+01,2.253890e-02,2.384186e-06,1.069891e+01
50%,2.713832e+06,-1.500000e+01,5.500000e+01,7.339986e-07,4.771658e+01,4.871265e+00,-3.037399e+00,-1.919052e+00,9.616070e-01,2.984561e+02,3.440966e+01,4.239240e-02,8.115172e-04,1.752846e+01
75%,4.070749e+06,-7.000000e+00,7.300000e+01,1.072703e-05,6.829339e+01,1.971868e+01,3.158560e-01,3.079634e+00,3.177193e+00,3.012044e+02,4.511490e+01,6.936920e-02,1.049912e-02,2.713904e+01
max,5.427665e+06,0.000000e+00,9.000000e+01,2.337394e-04,1.015534e+02,8.305808e+01,3.072869e+01,5.953438e+01,3.391517e+01,3.046625e+02,7.496456e+01,1.012368e+00,1.632380e+00,8.705048e+01

In [12]:
other_df.describe()

,Unnamed: 0,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
count,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06,5.427666e+06
mean,2.713832e+06,-1.500000e+01,5.500000e+01,1.634217e-07,4.513931e+01,7.656760e+00,-2.693753e+00,-1.856880e+00,9.688508e-01,2.177395e+02,3.455522e+01,5.448247e-02,1.543436e-02,2.014515e+01
std,1.566832e+06,8.944273e+00,2.049390e+01,1.827597e-05,2.648397e+01,1.797740e+01,4.993485e+00,8.486632e+00,3.790943e+00,1.334686e+02,1.360599e+01,5.293838e-02,4.103308e-02,1.250020e+01
min,0.000000e+00,-3.000000e+01,2.000000e+01,-8.602099e-04,5.407220e-02,-4.024438e+01,-3.566544e+01,-5.705151e+01,-3.047674e+01,0.000000e+00,1.296146e+00,0.000000e+00,0.000000e+00,5.425921e-03
25%,1.356916e+06,-2.300000e+01,3.700000e+01,-9.497104e-06,2.076227e+01,-6.081226e+00,-6.215152e+00,-6.928488e+00,-1.222572e+00,0.000000e+00,2.362201e+01,2.253890e-02,2.384186e-06,1.069891e+01
50%,2.713832e+06,-1.500000e+01,5.500000e+01,7.339986e-07,4.771658e+01,4.871265e+00,-3.037399e+00,-1.919052e+00,9.616070e-01,2.984561e+02,3.440966e+01,4.239240e-02,8.115172e-04,1.752846e+01
75%,4.070749e+06,-7.000000e+00,7.300000e+01,1.072703e-05,6.829339e+01,1.971868e+01,3.158560e-01,3.079634e+00,3.177193e+00,3.012044e+02,4.511490e+01,6.936920e-02,1.049912e-02,2.713904e+01
max,5.427665e+06,0.000000e+00,9.000000e+01,2.337394e-04,1.015534e+02,8.305808e+01,3.072869e+01,5.953438e+01,3.391517e+01,3.046625e+02,7.496456e+01,1.012368e+00,1.632380e+00,8.705048e+01

In [13]:
print(my_df.compare(other_df))

Empty DataFrame
Columns: []
Index: []

In [14]:
print(pd.concat([my_df,other_df]).drop_duplicates(keep=False))

Empty DataFrame
Columns: [Unnamed: 0, latitude, longitude, time, vo, r, u_200, u_850, v_200, v_850, sst, tcwv, tclw, tciw, shear]
Index: []